<%-include("header")-%>
<div class="container about-container">
<h1 class="page-heading">About</h1>
    <div class="about-box">
        <div class="about-inner-box">
            <p class="about-intro">
            <!-- I am Neel , I am a student, a Freelancer, and a developer.
            I am coding since i was 11 years old.
            I have made various Projects and I give my best service to clients.
            Valuing clients time i provide Beautiful customized websites at affordable rates. -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque optio dignissimos molestiae neque quibusdam quo dolorum eaque aperiam numquam assumenda laboriosam deleniti nulla iure voluptatem at, sed eligendi laborum itaque blanditiis aliquam excepturi magnam veniam tempora impedit laboriosam assumenda.
            </p>
        </div>
    </div>
    <%-include("social-icons")-%>
</div>
<%-include("hamburgerToggle")-%>
<%-include("footer")-%>