<%-include("header")-%>
    <div class="container home-container">
        <p class="name">Hello I'm Neel</p>
        <div class="intro">
            <div id="name-intro">
                <p>
                    <!-- I'm a Fullstack developer, Freelancer, Student. -->
                    Lorem ipsum dolor sit amet consectetur.
                </p>
                <p>
                    <!-- Passionate for programming. -->
                    Lorem, ipsum dolor.
                </p>
            </div>
        </div>
        <%-include("social-icons")-%>
    </div>
<%-include("hamburgerToggle")-%>
<%-include("footer")-%>