<%-include("header")-%>
<div class="container">
<h1 class="page-heading project-title">Projects:</h1>
    <div class="project-cards">
        <div class="project-card">
            <div class="project-topic">
                <h2>Project 1</h2>
            </div>
            <div class="card-image-div">
                <img class="project-image" src="https://europeanbusinessmagazine.com/wp-content/uploads/2017/05/Project-Management-service.jpg" alt="">
            </div>
            <div class="card-description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis accusamus hic pariatur nam, laudantium sapiente.
            </div>
                <a id="project-github-link" href="">
                <!-- <a id="project-github-link" href="https://github.com/Neel-the-web-man"> -->
                    <div class="git-btn">
                        <p id="link-para">
                            Github 
                        </p>
                        <img class="github-project-logo" src="https://bitemycoin.com/wp-content/uploads/2018/06/GitHub-Logo.png" alt="Github Logo">
                    </div>
                </a>
        </div>
        <div class="project-card">
            <div class="project-topic">
                <h2>Project 2</h2>
            </div>
            <div class="card-image-div">
                <img class="project-image" src="https://europeanbusinessmagazine.com/wp-content/uploads/2017/05/Project-Management-service.jpg" alt="">
            </div>
            <div class="card-description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis accusamus hic pariatur nam, laudantium sapiente.
            </div>
            <!-- <a id="project-github-link" href="https://github.com/Neel-the-web-man"> -->
            <a id="project-github-link" href="">
                <div class="git-btn">
                    <p id="link-para">
                        Github 
                    </p>
                    <img class="github-project-logo" src="https://bitemycoin.com/wp-content/uploads/2018/06/GitHub-Logo.png" alt="Github Logo">
                </div>
            </a>
        </div>
        <div class="project-card">
            <div class="project-topic">
                <h2>Project 3</h2>
            </div>
            <div class="card-image-div">
                <img class="project-image" src="https://europeanbusinessmagazine.com/wp-content/uploads/2017/05/Project-Management-service.jpg" alt="">
            </div>
            <div class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis cupiditate odit sint maxime maiores itaque quo, non iusto sit dolores, blanditiis quibusdam ea? Architecto?
            </div>
            <!-- <a id="project-github-link" href="https://github.com/Neel-the-web-man"> -->
            <a id="project-github-link" href="">
                <div class="git-btn">
                    <p id="link-para">
                        Github 
                    </p>
                    <img class="github-project-logo" src="https://bitemycoin.com/wp-content/uploads/2018/06/GitHub-Logo.png" alt="Github Logo">
                </div>
            </a>
        </div>
        <div class="project-card">
            <div class="project-topic">
                <h2>Project 4</h2>
            </div>
            <div class="card-image-div">
                <img class="project-image" src="https://europeanbusinessmagazine.com/wp-content/uploads/2017/05/Project-Management-service.jpg" alt="">
            </div>
            <div class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis cupiditate odit sint maxime maiores itaque quo, non iusto sit dolores, blanditiis quibusdam ea? Architecto?
            </div>
            <a id="project-github-link" href="">
            <!-- <a id="project-github-link" href="https://github.com/Neel-the-web-man"> -->
                <div class="git-btn">
                    <p id="link-para">
                        Github 
                    </p>
                    <img class="github-project-logo" src="https://bitemycoin.com/wp-content/uploads/2018/06/GitHub-Logo.png" alt="Github Logo">
                </div>
            </a>
        </div>
        <div class="project-card">
            <div class="project-topic">
                <h2>Project 5</h2>
            </div>
            <div class="card-image-div">
                <img class="project-image" src="https://europeanbusinessmagazine.com/wp-content/uploads/2017/05/Project-Management-service.jpg" alt="">
            </div>
            <div class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis cupiditate odit sint maxime maiores itaque quo, non iusto sit dolores, blanditiis quibusdam ea? Architecto?
            </div>
            <!-- <a id="project-github-link" href="https://github.com/Neel-the-web-man"> -->
            <a id="project-github-link" href="">
                <div class="git-btn">
                    <p id="link-para">
                        Github 
                    </p>
                    <img class="github-project-logo" src="https://bitemycoin.com/wp-content/uploads/2018/06/GitHub-Logo.png" alt="Github Logo">
                </div>
            </a>
        </div>
    </div>
</div>
<%-include("hamburgerToggle")-%>
<%-include("footer")-%>