<%-include("header")-%>
<div class="container skills-container">
<h1 class="page-heading">Skills:</h1>
<div class="skill-container">
<div class="skill-box">
    <p class="skills html-box">HTML<img  class="skill-logo html-logo" src="https://th.bing.com/th/id/R8836210f6f589d2b13c31194c56a390e?rik=kWxl8dLYXRWxng&riu=http%3a%2f%2faux.iconspalace.com%2fuploads%2f16462271581931937339.png&ehk=aru90P5tNQHHzHp75mtFv8EhFvV7FW67B4YndQIDKOs%3d&risl=&pid=ImgRaw" alt="HTML"></p>
    <p class="skills css-box">CSS<img  class="skill-logo css-logo" src="https://juststickers.in/wp-content/uploads/2013/10/HTML5-CSS3.jpg" alt="CSS"></p>
    <p class="skills js-box">JAVASCRIPT<img  class="skill-logo" src="https://raw.githubusercontent.com/voodootikigod/logo.js/master/js.png" alt="JAVASCRIPT"></p>
    <p class="skills mongo-box">MONGODB <img  class="skill-logo mongoDB-logo" src="https://th.bing.com/th/id/OIP.4y0O4Ytk5MArYDVEKMahLQHaHa?pid=ImgDet&rs=1" alt="MongoDB"></p>
    <p class="skills node-box">NODEJS<img  class="skill-logo nodejs-logo" src="https://discoderyapp.s3.eu-west-1.amazonaws.com/partners_logos_widen_500/5c481e2cae2dc066670037.png" alt="NODE JS"></p>
    <p class="skills mongoose-box">Mongoose<img  class="skill-logo mongoose-logo" src="https://th.bing.com/th/id/R096d33be2aad46efe516fcf6fece32ad?rik=l9A%2fjtR4P7zk1Q&riu=http%3a%2f%2fmongodb-tools.com%2fimg%2fmongoose.png&ehk=oP65VeN%2b5L1ffpqzIgXN%2bLD00%2fRPMiQAGqTZ4%2fhixoQ%3d&risl=&pid=ImgRaw" alt="Mongoose"></p>
    <p class="skills Bootstrap-box">Bootstrap<img  class="skill-logo bootstrap-logo" src="https://uxwing.com/wp-content/themes/uxwing/download/07-design-and-development/bootstrap-4.png" alt="Bootstrap"></p>
    <p class="skills databases-box">Databases<img  class="skill-logo databases-logo" src="https://th.bing.com/th/id/OIP.htVtzXiAu562Q_nPOaGQbgHaGl?pid=ImgDet&rs=1" alt="Databases"></p>
</div>
</div>
<%-include("social-icons")-%>
</div>
<%-include("hamburgerToggle")-%>
<%-include("footer")-%>