<div class="social-icons ">
    <a href="" class="facebook-logo-anchor-tag">
        <div>
            <img id="facebook-logo" src="https://th.bing.com/th/id/R52e2dc12a4b8f37396fa0adcf0767182?rik=1b5cTHZbLuKnLw&riu=http%3a%2f%2ftijuanas-tacos.com%2fwp-content%2fuploads%2f2012%2f03%2fFacebook-icon.png&ehk=S4zY%2brSLhCXrlcif7FxtEGzISW1ueeOjQnNA7acoMuk%3d&risl=&pid=ImgRaw" alt="Facebook Logo">
            <span class="social-icons-logo-name">FACEBOOK</span>
        </div>
    </a>
    <a href="" class="instagram-logo-anchor-tag">
        <div>
            <img id="instagram-logo" src="https://th.bing.com/th/id/R950464fcbb88221fba2d72bd8e997118?rik=8t0QSyLs40dupQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2finstagram-logo-eps-png-instagram-logo-1784.png&ehk=ZLn0UdAH6aoX9f2NvarOxzeDX5DAdAIpqOa%2f2s65Y7I%3d&risl=&pid=ImgRaw" alt="Instagram Logo">
            <span class="social-icons-logo-name">Instagram</span>
        </div>
    </a>
    <a href="" class="github-logo-anchor-tag">
    <!-- <a href="https://github.com/Neel-the-web-man" class="github-logo-anchor-tag"> -->
        <div>
            <img id="github-logo" src="./github-logo.png" alt="Github Logo">
            <span class="social-icons-logo-name">Github</span>
        </div>
    </a>
    <a href="" class="twitter-logo-anchor-tag">
        <div>
            <img id="twitter-logo" src="./twitter.png" alt="Twitter Logo">
            <span class="social-icons-logo-name">Twitter</span>
        </div>
    </a>
    <!-- <a href="https://www.linkedin.com/in/neel-kotkar-ab577520a/" class="linkedIn-logo-anchor-tag">
        <div>
            <img id="linkedIn-logo" src="https://th.bing.com/th/id/OIP.VArJwZMxFN-qHnD8Xue-QAHaHa?pid=ImgDet&rs=1" alt="linkedin logo">
            <span class="social-icons-logo-name">LinkedIn</span>
    </div>
    </a> -->
</div>