<%-include("header")-%>
<div  id="success">
    <!-- <p><strong>Success! </strong> Your form has been successfully submitted.</p> -->
    <!-- <p class="delete-alert">&times;</p> -->
</div>
<div class="container submitOne-container">
<h1  id="submitAgain-IdHeading">Want To Submit Again?</h1>
<a href="/resubmit"  id="submitAgain-IdAnchorTag">Resubmit</a>
<%-include("social-icons")-%>
</div>
<script>
    let success=document.getElementById("success");
    success.classList.add("alert-success");
    success.innerHTML="<p><strong>Success! </strong> Your Message has been successfully submitted .</p><p>&times;</p>";
    success.lastElementChild.className="delete-alert";
    success.lastElementChild.id="alert-delete-button";
    let alertDeleteButton=document.getElementById("alert-delete-button");
            alertDeleteButton.addEventListener("click",()=>{
                success.classList.remove("alert-success");
                success.innerHTML="";
                failure.classList.remove("alert-failure");
                failure.innerHTML="";
            });
</script>
<%-include("hamburgerToggle")-%>
<%-include("footer")-%>