<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neel Kotkar</title>
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a id="logo-link" href="/"><img id="logo" src="./logo.png" alt="logo"></a>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/projects">PROJECTS</a></li>
                <li><a href="/skills">SKILLS</a></li>
                <li><a href="/about">ABOUT ME</a></li>
                <li><a href="/submitted">CONTACT</a></li>
            </ul>
        </nav>
    </header>
<div class="container">
    <h1 id="submittedHeading">I will reply soon !😊</h1>
    <%-include("social-icons")-%>
</div>
</div>
<%-include("hamburgerToggle")-%>
<%-include("footer")-%>